<!DOCTYPE html>
<html lang="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Albums</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<h1>Albums</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Song Count</th>
        <th>Length (seconds)</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
        <td th:text="${album.title}"></td>
        <td th:text="${album.artist}"></td>
        <td th:text="${album.songCount}"></td>
        <td th:text="${album.length}"></td>
        <td><img th:src="${album.imageUrl}" alt="Album Art" width="100px" height="100px" src=""></td>
        <td>
            <a th:href="@{/albums/{id}(id=${album.id})}">View</a> |
            <a th:href="@{/albums/edit/{id}(id=${album.id})}">Edit Album</a> |
            <a th:href="@{/albums/delete/{id}(id=${album.id})}" onclick="return confirm('Are you sure you want to delete this album?')">Delete Album</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/albums/add}">Add New Album</a>
</body>
</html>
