<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<head>
    <title>Albums</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
<h1>Albums</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Song Count</th>
        <th>Length (seconds)</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
        <td th:text="${album.title}"></td>
        <td th:text="${album.artist}"></td>
        <td th:text="${album.songCount}"></td>
        <td th:text="${album.length}"></td>
        <td><img th:src="${album.imageUrl}" alt="Album Art" src=""></td>
    </tr>
    </tbody>
</table>

<h1>Add Album</h1>
<form th:action="@{/albums}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br>
    <label for="artist">Artist:</label>
    <input type="text" id="artist" name="artist" required><br>
    <label for="songCount">Song Count:</label>
    <input type="number" id="songCount" name="songCount" required><br>
    <label for="length">Length (seconds):</label>
    <input type="number" id="length" name="length" required><br>
    <label for="imageUrl">Image URL:</label>
    <input type="url" id="imageUrl" name="imageUrl" required><br>
    <button type="submit">Add Album</button>
</form>

</body>
</html>
