<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Computer Information</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Computer Information</h1>-->
<!--<p>User Agent (Browser): <span th:text="${userAgent}"></span></p>-->
<!--<p>Operating System: <span th:text="${osInfo}"></span></p>-->
<!--<p>Client IP Address: <span th:text="${clientIpAddress}"></span></p>-->
<!--</body>-->
<!--</html>-->
